html,body {
    background-color:#E8EEE8;
	margin:0px;
    height:100%;
	font-family:'Times New Roman','Microsoft YaHei';
	-webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;}
@media screen and (min-width: 1200px){html,body {
    background-color:#E8EEE8;
	margin:0px;
    height:100.06%;
	font-family:'Times New Roman','Microsoft YaHei';
	-webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;}}